.bannerContainer {
    position: relative;
    top: 0;
    overflow: hidden;
}

.mb-9 {
    margin-bottom: 72px;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.background picture img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 100% 50%;
    object-position: 100% 50%;
}

.textContainer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 8 !important;
    display: flex;
    flex-direction: column !important;
    margin: auto;
    color: white;
    text-align: center;
}

.pt-5 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.row {
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 32px;
    margin-left: 32px;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mb-3 {
    margin-bottom: 18px !important;
    font-size: 48px;
    font-weight: 600;
}
h1.en-title {
  font-size: 2rem;
}
.fs-lg {
    font-size: 16px;
}

.briefWarp{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    max-width: 1120px;
    margin:80px auto;
    padding: 0 32px;

}
.briefTitle{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.briefTitle .title{
    font-size: clamp(1.5rem, 3vw, 2.42rem);
    font-weight: bold;
    text-align: center;
}
.titlePic img{
    width: 100%;
}
.briefText{
    width: 70%;
    margin-top: 6px;
    font-size: 16px;
    line-height: 1.7;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.markBar {
        display: none;
    }