@media (min-width: 576px) {
    .background picture img {
        -o-object-position: 7dvh 50%;
        object-position: 50% 50%;
    }

    .textContainer {
        max-width: 540px;
    }
}

@media (max-width: 576px) {
    .background-cover {
        height: 30vh !important;
    }

    .background picture img {
        height: 30vh !important;
    }

    .textContainer {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 768px) {
    .textContainer {
        max-width: 720px;
    }
}

@media (max-width: 768px) {
    .background-cover {
        height: 30vh !important;
    }

    .background picture img {
        height: 30vh !important;
    }

    h1 {
        font-size: 40px;
    }

    .fs-lg {
        font-size: 16px !important;
    }
    .warp {
        margin-top: 40px;
    }

    .warp .title {
        font-size: 28px;
    }
    h1.en-title {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

@media (max-width: 920px) {
.english-title {
    font-size: 1.75rem !important;
  }
}

@media (max-width:1200px) {
    .background-cover {
        height: 30vh;
        width: 100%;
        display: block;
        -webkit-mask-image: none !important;
        mask-image: none !important;
    }

    .mb-9 {
        margin-bottom: 0;
    }

    .col-lg-5 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .briefWarp{
        flex-direction: column;
        gap: 20px;
        margin: 40px auto;
    }
    .briefWarp .titlePic{
        display: none;
    }
    .briefTitle{
        gap: 0px;
    }
    .briefText{
        width: 100%;
    }
    .markBar {
        display: block;
        margin: 12px auto 0;
    }
}

@media (min-width: 1200px) {
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }

    .order-lg-2 {
        order: 2 !important;
    }

    .py-lg-10 {
        padding-top: 86px !important;
        padding-bottom: 86px !important;
    }

    .textContainer {
        max-width: 1145px;
        display: flex;
        flex-direction: column;
    }

    .col-lg-5 {
        flex: 0 0 auto;

    }

}