.bannerContainer {
    position: relative;
    top: 0;
    overflow: hidden;
}

.mb-9 {
    margin-bottom: 72px;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.background picture img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 100% 50%;
    object-position: 100% 50%;
}

.textContainer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 8 !important;
    display: flex;
    flex-direction: column !important;
    margin: auto;
    color: white;
    text-align: center;
}

.pt-5 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.row {
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 32px;
    margin-left: 32px;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mb-3 {
    margin-bottom: 18px !important;
    font-size: 48px;
    font-weight: 600;
}

.fs-lg {
    font-size: 16px;
}

.newsTitle {
    margin-left: 16px;
}

/* 小标题和指示条 */
.newsTitle .title {
    font-size: 36px;
    color: var(--text);
    line-height: 54px;
    font-weight: 800;
    width: 100%;
}

.markBar {
    margin-top: 16px;
}

.warp {
    margin: auto;
    margin-top: 80px;
    max-width: 1120px;
}

.contact {
    margin-left: 16px;
    margin-top: 30px;
    font-size: 20px;
}

.contactWarp{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 40px;
    margin-bottom: 120px;
}
.emailPhone{
    display: flex;
    flex-direction: row;
    gap: 300px;
}
.phone{
    margin-top: 20px;
    width: 300px;
}
.contactWarp p{
    font-size: 20px;
    /* margin-bottom: 10px; */
}
.contactWarp .subTitle{
    font-size: 14px;
}
.map{
    height: 380px;
    max-width: 1120px;
    background-color: var(--gray);
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}
.xian{
    margin-top: 20px;
}