/* 接上一步的全局样式 */
:root {
  --theme: #01BBAE;
  --gray: #F5F8FA;
  --text: #383838;
  --textGray: #606A76;
  --btnHover: #01CCBE;
  --normalFont:16px;
  --middleFont:20px;
}

body.show a, body.show .transition, body.show :before, body.show img {
  -webkit-transition: All .5s ease;
  transition: All .5s ease;
}
*{
  text-decoration: none;
  color: inherit;
}
html{
  color: var(--text);
  overflow-x:hidden;
  position: relative;
}
.whinherit {
    min-width: inherit;
    min-height: inherit;
}

.markBar{
  border-top-color: var(--theme);
  border-top-width: 8px;
  border-top-style: solid;
  border-right: 6px solid transparent;
  width: 52px;
  height: 0;
}

/* 1366 屏再放大一档 */
@media (max-width: 1440px) {
  .test { font-size: 24px; }
}

/* 手机再放大一档 */
@media (max-width: 768px) {
  .test { font-size: 36px; }
}