@font-face {
  font-family: "iconfont"; /* Project id 5059891 */
  src: url('../fonts/iconfont.ttf') format('woff2'),
       url('../fonts/iconfont.ttf') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-duihao:before {
  content: "\e615";
}

.icon-icon_more:before {
  content: "\e602";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-xiaohongshu:before {
  content: "\e600";
}

.icon-douyin:before {
  content: "\e601";
}

.icon-s1:before {
  content: "\eaa7";
}

.icon-jia:before {
  content: "\e632";
}