/* 现代浏览器重置 */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
button {
  all: unset;
}
ul {
list-style: none;
}
li {
list-style-type: none;
}

ul, li {
padding: 0;
margin: 0;
}
